# Taller 9

### Aprendizaje en Redes Bayesianas: Estructura

##### Analítica Computacional para la Toma de Decisiones

---

|     Nombres      |      Apellidos       |     Login     |  Codigo   |
| :--------------: | :------------------: | :-----------: | :-------: |
|     Santiago     | Gonzalez Montealegre | s.gonzalez35  | 202012274 |
| Juliana Carolina |  Cardenas Barragan   | jc.cardenasb1 | 202011683 |

## Librerías Requeridas

In [1]:
import pandas as pd
from pgmpy.estimators import PC
from pgmpy.models import BayesianNetwork
from pgmpy.estimators import MaximumLikelihoodEstimator

## Estimando la estructura de un modelo a partir de datos: Restricciones

### 1

In [11]:
df = pd.read_csv("Data/data_asia.csv")
df.head()

   Unnamed: 0 asia tub smoke lung bronc either xray dysp
0           0   no  no    no   no   yes     no   no   no
1           1   no  no    no  yes    no    yes  yes   no
2           2   no  no    no   no    no     no   no   no
3           3   no  no   yes   no   yes     no   no  yes
4           4   no  no   yes   no    no     no   no   no

In [5]:
df.drop("Unnamed: 0", axis=1, inplace=True)
df.head()

  asia tub smoke lung bronc either xray dysp
0   no  no    no   no   yes     no   no   no
1   no  no    no  yes    no    yes  yes   no
2   no  no    no   no    no     no   no   no
3   no  no   yes   no   yes     no   no  yes
4   no  no   yes   no    no     no   no   no

In [5]:
df.describe()

          asia     tub   smoke    lung   bronc  either    xray    dysp
count   100000  100000  100000  100000  100000  100000  100000  100000
unique       2       2       2       2       2       2       2       2
top         no      no      no      no      no      no      no      no
freq     99057   98917   50054   94501   55093   93477   88991   56376

In [6]:
df.columns

Index(['asia', 'tub', 'smoke', 'lung', 'bronc', 'either', 'xray', 'dysp'], dtype='object')

### 2

In [7]:
est = PC(data=df)
estimated_model = est.estimate(variant="stable", max_cond_vars=4)

  0%|          | 0/4 [00:00<?, ?it/s]

In [8]:
print(estimated_model)
print(estimated_model.nodes())
print(estimated_model.edges())

DAG with 8 nodes and 8 edges
['lung', 'either', 'bronc', 'dysp', 'tub', 'xray', 'smoke', 'asia']
[('lung', 'either'), ('either', 'dysp'), ('either', 'xray'), ('bronc', 'dysp'), ('tub', 'either'), ('smoke', 'bronc'), ('smoke', 'lung'), ('asia', 'tub')]

### 3

In [9]:
estimated_model = BayesianNetwork(estimated_model)
estimated_model.fit(data=df, estimator=MaximumLikelihoodEstimator)

for i in estimated_model.nodes():
    print(estimated_model.get_cpds(i))

+-----------+----------------------+---------------------+
| smoke     | smoke(no)            | smoke(yes)          |
+-----------+----------------------+---------------------+
| lung(no)  | 0.9905701842010628   | 0.8993512994033557  |
+-----------+----------------------+---------------------+
| lung(yes) | 0.009429815798937148 | 0.10064870059664438 |
+-----------+----------------------+---------------------+
+-------------+----------+----------+-----------+-----------+
| lung        | lung(no) | lung(no) | lung(yes) | lung(yes) |
+-------------+----------+----------+-----------+-----------+
| tub         | tub(no)  | tub(yes) | tub(no)   | tub(yes)  |
+-------------+----------+----------+-----------+-----------+
| either(no)  | 1.0      | 0.0      | 0.0       | 0.0       |
+-------------+----------+----------+-----------+-----------+
| either(yes) | 0.0      | 1.0      | 1.0       | 1.0       |
+-------------+----------+----------+-----------+-----------+
+------------+---------------------+---------------------+
| smoke      | smoke(no)           | smoke(yes)          |
+------------+---------------------+---------------------+
| bronc(no)  | 0.7000039956846605  | 0.40153365634885674 |
+------------+---------------------+---------------------+
| bronc(yes) | 0.29999600431533946 | 0.5984663436511433  |
+------------+---------------------+---------------------+
+-----------+---------------------+-----+---------------------+
| bronc     | bronc(no)           | ... | bronc(yes)          |
+-----------+---------------------+-----+---------------------+
| either    | either(no)          | ... | either(yes)         |
+-----------+---------------------+-----+---------------------+
| dysp(no)  | 0.8995302463809798  | ... | 0.09483960948396095 |
+-----------+---------------------+-----+---------------------+
| dysp(yes) | 0.10046975361902023 | ... | 0.905160390516039   |
+-----------+---------------------+-----+---------------------+
+----------+----------------------+---------------------+
| asia     | asia(no)             | asia(yes)           |
+----------+----------------------+---------------------+
| tub(no)  | 0.9895918511564049   | 0.9448568398727466  |
+----------+----------------------+---------------------+
| tub(yes) | 0.010408148843595103 | 0.05514316012725345 |
+----------+----------------------+---------------------+
+-----------+----------------------+---------------------+
| either    | either(no)           | either(yes)         |
+-----------+----------------------+---------------------+
| xray(no)  | 0.9506402644500787   | 0.01962287291123716 |
+-----------+----------------------+---------------------+
| xray(yes) | 0.049359735549921374 | 0.9803771270887628  |
+-----------+----------------------+---------------------+
+------------+---------+
| smoke(no)  | 0.50054 |
+------------+---------+
| smoke(yes) | 0.49946 |
+------------+---------+
+-----------+---------+
| asia(no)  | 0.99057 |
+-----------+---------+
| asia(yes) | 0.00943 |
+-----------+---------+